<!DOCTYPE html>
<html ng-app="wiki">
  <head>
    <meta charset="utf-8">
    <title>Title goes here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/foundation.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
  	<nav ng-controller="NavController as nav" class="top-bar">
  		<ul class="title-area">
  			<li class="name"></li>
  			<li class="toggle-topbar menu-icon"><a href = "#"><span>Menu</span></a></li>
  		</ul>
  		<section class="top-bar-section">
  			<ul class="left">
  				<li><a href = "#">Home</a></li>
  				<li ng-hide="nav.login"><button ng-click="nav.fbLogin()">Login</button></li>
  			</ul>
  		</section>
  	</nav>
  </body>
</html>