#background {
	background-image: url('../imgs/drink.jpg');
	overflow: auto;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	opacity:.15;
}

#content {
	padding-top: 2%;
	padding-left: 2%;
}

#links {
	padding-left: -2%;
}

ul li {
	list-style-type: none;
	text-decoration: none;
}

.selected {
	background-color: #d66;
	font-weight: bold;
}